<!-- Container -->
<div class="container pt-5 pb-5 mt-5">
    <div class="row mt-3">
        <div class="col-4 me-5 pt-3">
            <div class="card shadow round" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">Imagen de perfil</h5>
                    <div class="text-center">
                        <img src="../../../assets/images2/sin_foto.png" class="rounded-circle" alt="..." width="120px"
                            height="120px">
                        <br>
                        <a href="" type="file" class="text-center text-dark">Actualizar foto</a>
                        <div class="border-bottom border-2 pt-4 pb-2"></div>
                        <div class="pt-3"></div>
                        <i class="bi bi-patch-check active" style="font-size: 2rem;"></i>
                        <h5>Verificación de identidad</h5>
                    </div>
                    <p class="card-text" align="justify">Cargar su documento de identidad para que su perfil sea
                        validado y la comunidad de Reserhab sepa que eres quien dice ser.</p>
                    <div class="d-grid gap-2 col-6 mx-auto pb-2">
                        <a href="" routerLink="/reserver/validate" class="btn btn-outline-primary"
                            type="button"><b>ACEPTAR</b></a>
                    </div>
                    <div class="border-bottom border-2 pt-2 pb-2"></div>
                    <div class="pt-3"></div>
                    <div class="text-center small">
                        <h5>{{account.nombres}} confirmó</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 pt-3">
            <h3>Hola, soy {{account.nombres}}</h3>
            <p class="text-secondary fs-6">Se registró en el 2022</p>
            <a class="text-black" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample"><b>Editar perfil</b></a>
            <div class="collapse pt-4" id="collapseExample">
                <form class="pt-2">
                    <div class="mb-2">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Sobre mí</label>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="exampleFormControlInput1" class="form-label mt-2">Ubicación actual</label>
                        <br>
                        <div class="col-sm-7">
                            <select class="js-example-basic-single form-select rounded p-4"
                                aria-label="Floating label select" style="width: 34rem;">
                                <option value="0">Ubicación</option>
                                <option value="1">Ciudades</option>
                                <option value="2">Departamentos</option>
                                <option value="3">Bogota</option>
                                <option value="4">Medellin</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="exampleFormControlInput1" class="form-label mt-2">Idiomas que hablo</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Ingles</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">Español</label>
                        </div>
                    </div>
                    <div class="form-floating pt-2 pb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Trabajo actual</label>
                    </div>
                    <div class="border-bottom border-2 pb-2"></div>
                    <div class="d-grid gap-2 pt-4 pb-2">
                        <button class="btn btn-outline-dark" type="button"><b>ACEPTAR</b></button>
                        <a class="btn btn-outline-danger" type="button" data-bs-toggle="collapse"
                            href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><b>CANCELAR</b></a>
                    </div>
                </form>
            </div>
            <div class="border-bottom border-2 pt-2 pb-2"></div>
            <h3 class="pt-3">Perfil</h3>
            <p class="text-secondary">Estado: <span class="badge bg-danger">NO VALIDADO</span></p>
        </div>
    </div>
</div>