
<div class="container pt-5 pb-5 mt-5">
    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <div>
            <h2 class="pt-3 ps-4">Cuenta</h2>
            <div class="d-inline-flex ps-4 bd-highlight">
                <b style="font-size: 1.2rem;">{{account.nombres}}, &nbsp;</b>
                <p style="font-size: 1.2rem;">{{user.usuario_name}} &middot; &nbsp;</p>
                <a href="" routerLink="/reserver/profile" class="text-dark pb-5"><b style="font-size: 1.2rem;">Ir al perfil</b></a>
            </div>
        </div>
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row mx-auto">
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="" routerLink="/reserver/information" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-person-rolodex text-dark" style="font-size: 2rem;"></i>
                        <br>
                        <b class="text-dark">Datos personales</b>
                        <p class="text-dark" align="justify">Manten actualizados tus datos personales e indicanos como podemos ponernos en contacto contigo</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="" routerLink="/reserver/segurity" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-shield-exclamation text-dark" style="font-size: 2rem;"></i>
                        <br><br><br>
                        <b class="text-dark">Seguridad e inicio de sesión</b>
                        <p class="text-dark" align="justify">Manten protegida tu cuenta y actualiza tu contraseña</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="#" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-cash-coin text-dark" style="font-size: 2rem;"></i>
                        <br><br><br>
                        <b class="text-dark">Pagos y cobros</b>
                        <p class="text-dark" align="justify">Revisar pagos, cobros, cupones, trajetas de regalo e impuestos</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="#" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-megaphone text-dark" style="font-size: 2rem;"></i>
                        <br><br><br>
                        <b class="text-dark">Notificaciones</b>
                        <p class="text-dark" align="justify">Elige las preferencias de notificación y tu forma de contacto</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="#" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-eye text-dark" style="font-size: 2rem;"></i>
                        <br><br>
                        <b class="text-dark">Privacidad y uso compartido</b>
                        <p class="text-dark" align="justify">Controla las aplicaciones conectadas, lo que compartes y quien puede o no verlo</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="#" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-gift text-dark" style="font-size: 2rem;"></i>
                        <br><br><br>
                        <b class="text-dark">Credito y cupones por invitación</b>
                        <p class="text-dark" align="justify">Tienes $0 COP de crédito y cupones por invitaciones</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="text-center d-inline">
            <p class="d-inline">¿Necesitas desactivar la cuenta?</p>
            <br>
            <a href="" class="d-inline text-dark">Ocúpate de esto ahora</a>
        </div>
    </div>
</div>