
<div class="container pt-5 pb-5 mt-5">
    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row mx-auto">
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="" routerLink="/admin/gestion-reserver" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-person-rolodex text-dark" style="font-size: 2rem;"></i>
                        <br>
                        <b class="text-dark">Reservadores</b>
                        <p class="text-dark" align="justify">Conoce y gestiona los datos de los clientes que actualmente usan los servicios del sitio web.</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="" routerLink="/admin/gestion-owner" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-3 me-5 bg-body">
                        <i class="bi bi-shield-exclamation text-dark" style="font-size: 2rem;"></i>
                        <br><br><br>
                        <b class="text-dark">Propietarios</b>
                        <p class="text-dark" align="justify">Conoce y gestiona los datos de los propietarios de hoteles que actualmente usan los servicios del sitio web.</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" routerLink="/admin/gestion-service" href="#" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-cash-coin text-dark" style="font-size: 2rem;"></i>
                        <br><br><br>
                        <b class="text-dark">Servicios</b>
                        <p class="text-dark" align="justify">Consulta, registra, actualiza y elimina los servicios que puede ofrecer un propietario en su hotel</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="#" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-megaphone text-dark" style="font-size: 2rem;"></i>
                        <br><br><br>
                        <b class="text-dark">Hoteles</b>
                        <p class="text-dark" align="justify">Consulta toda la lista de hoteles que actualmente se encuentran registrados en el sitio web.</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="#" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-eye text-dark" style="font-size: 2rem;"></i>
                        <br><br>
                        <b class="text-dark">Habitaciones</b>
                        <p class="text-dark" align="justify">Conoce el listado de todas las habitaciones que actualmente ofrecen los hoteles registrados en el sitio web.</p>
                    </div>
                </a>
                <a class="p-3 pe-2 pb-3" style="width: 23rem;" href="#" id="quitar_raya_enlace">
                    <div class="shadow p-3 mb-5 me-5 bg-body">
                        <i class="bi bi-gift text-dark" style="font-size: 2rem;"></i>
                        <br><br><br>
                        <b class="text-dark">Reservas</b>
                        <p class="text-dark" align="justify">Gestiona todas las reservas que se encuentran registradas hasta la fecha.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>