
<div class="modal-header">
    <div class="col-1">
        <a data-bs-toggle="modal" (click)="returnModal()">
            <i class="bi bi-arrow-left-short
            text-secondary mx-auto my-auto p-2 pt-5"  style="font-size: 2rem;"></i>
        </a>
    </div>
    <div class="col-9">
        <h5 class="modal-title text-center" id="exampleModalLabel">¿Te olvidaste de la contraseña?</h5>
    </div>
    <div class="col-1"></div>
</div>
<div class="modal-body">
    <div class="mb-3 pt-2">
        <div id="emailHelp" class="form-text pb-4">
            Ingresa la dirección de correo electrónico asociado a tu cuenta y te enviaremos un enlace para
            restablecer tu contraseña.
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInputEmail1" aria-describedby="emailHelp"
                placeholder="name@example.com" required>
            <label for="floatingInputEmail1" class="text-secondary" aria-placeholder="emailHelp" id="emailHelp">
                Correo electronico
                <span class="text-danger">*</span>
            </label>
        </div>
    </div>
    <div style="height: 6em;"></div>
    <div class="d-grid gap-2">
        <button class="btn btn-dark p-2" type="button"><b>Enviar enlace para restablecer contraseña</b></button>
    </div>
</div>